<div class="">
  <%= link_to 'Back', patients_path()%>

  <%= render partial: 'print' %>
</div>

<div class="panel panel-default">
  <!-- Panel Title -->
  <div class="panel-heading"><b>Emergency Transfer Summary (Form 34L-D)</b></div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th colspan="4">Transferring Facility</th>
    </tr>
    <tr>
      <td colspan="4">
        Name <br>
        <p class="text-primary"><%= @patient.facility.name if @patient.facility %></p>
      </td>
    </tr>

    <tr>
      <th colspan="4">Patient Information</th>
    </tr>
    <tr>
      <%= render partial: 'patient_info', object: @patient %>
    </tr>

    <tr>
      <th colspan="4">Summary</th>
    </tr>
    <tr>
      <td colspan="4" class="text-primary">
        <%= render partial: 'summary', object: @patient  %>
      </td>
    </tr>
  </table>

</div>
